body{
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 1.5rem;
}

#search{
    margin: 0.5rem;
}

h1{
    opacity:80%;
}

@media only screen and (max-width: 400px) {
    /* For mobile phones: */
    [class*="container"] {
      width: 100%;
    }
  }

nav ul{
    background-color: rgb(255, 255, 255);
    height: 83vh;
    cursor: default;
    list-style-type: none; /* Remove bullets */
    padding: 0;
    overflow:hidden; 
    overflow-y:scroll;
}

#container{
    opacity: 80%;
    width: 100%; 
    height: 100%;
    
}




li { 
    background: rgb(255, 255, 255); 
    font-size: 1rem;
    padding: 2px;
}


li:nth-child(odd) { 
    background: rgb(238, 238, 238); 
}

#result{
    font-size: 2rem;
    font-weight: bold;
    height: 3rem;
    /* padding: 3rem; */
}

footer {
    position: fixed;
    font-size: 1rem;
    bottom: 0%;
    width: 100%;
    background-color: white;
 }